## Vim ##

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## Project ##

.vimperator/info/
.pentadactyl/info/
.pip/pip.log
.pip/zsh-cache

.gitmessage.txt
.fonts/.uuid
.fonts/ttf-dejavu-powerline/.uuid
*.generated.html
.DS_Store
