## Vim ##

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## Project ##

.vimperator/info/
.pentadactyl/info/
.pip/pip.log
.pip/zsh-cache

.gitmessage.txt
.fonts/.uuid
.fonts/ttf-dejavu-powerline/.uuid
*.generated.html
.DS_Store
.java-version
.zshrc.etc.d/alibaba.zshrc
.zshrc.etc.d/tinypng.zshrc
node_modules
dist
package-lock.json
typings
.zshrc.etc.d/hosts-alibaba.zshrc
