## Vim ##

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## Project ##

.vimperator/info/
.pentadactyl/info/
.pip/pip.log
.pip/zsh-cache

.gitmessage.txt
.fonts/.uuid
.fonts/ttf-dejavu-powerline/.uuid
*.generated.html
.DS_Store
.java-version
.python-version
.zshrc.etc.d/alibaba.zshrc
.zshrc.etc.d/tinypng.zshrc
node_modules
dist
package-lock.json
typings
.zshrc.etc.d/*alibaba*.zshrc
.zshrc.etc.d/*secrets*.zshrc
.config/goneovim/sessions
.zsh_completion/_baiyan
.zsh_completion/_sofa
.zsh_completion/_antcode
.zshrc.etc.d/_*.zshrc
.config/kitty/kitty.d/local/*
.zsh_completion/_cpt
.zsh_completion/_aone
.zsh_completion/_hrctl
.zsh_completion/_dima
