#!/bin/sh

# This file will run for xstart and gdm

#export LC_ALL=zh_CN.UTF-8
export LC_CTYPE=zh_CN.UTF-8
export LC_LANG=zh_CN.UTF-8
#export LANG=zh_CN.UTF-8

export XMODIFIERS="@im=fcitx"
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XIM=fcitx
export XIM_PROGRAM=fcitx

export PATH=$PATH:/home/alswl/local/bin

# fctix
fcitx &

# turn off beep
xset b off

# trackpoint
sudo bash /home/alswl/dev/workspace/bash/trackpoint.sh

if [ $1 = 'awesome' ]; then
	xrandr --output LVDS1 --mode 1280x800
	#xrandr --output VGA1 --rotate left --mode 1440x900 --left-of LVDS1
	xrandr --output VGA1 --rotate normal --mode 1440x900 --above LVDS1

	# xscreensaver
	xscreensaver -no-splash &

	# Desktop effect, for example transparency
	xcompmgr &

	clipit &
fi

#xmodmap $HOME/.Xmodmap

# Dropbox
dropboxd  &

# nm-applet
#nm-applet &

# trayer
#trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --widthtype pixel --width 128 --transparent true --alpha 0 --tint 0x000000 --height 18 &

# ssh-proxy
#ssh alswl@log4d.com -ND 7070 &

# vim: set ft=sh:
