#!/bin/sh

# This file will run for xstart and gdm

export LC_ALL=zh_CN.UTF-8
export LC_CTYPE=zh_CN.UTF-8
export LC_LANG=zh_CN.UTF-8
export LANG=zh_CN.UTF-8

export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx

export PATH=$PATH:/home/alswl/.cabal/bin

ck-launch-session

# fctix
fcitx &

# trackpoint
bash /home/alswl/dev/workspace/bash/trackpoint.sh

# ssh-proxy
ssh alswl@log4d.com -ND 7070 &

# vim: set ft=sh:
