#!/bin/sh

xrandr --output HDMI1 --brightness 0.85
xrandr --output DP2 --brightness 0.85
xrandr --output HDMI1  --primary
xrandr --output DP2 --rotate normal --right-of HDMI1

xset r rate 200 30

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xscreensaver -no-splash &
numlockx &
fcitx &
#ibus-daemon -drx
dropbox &
copyq &
xclip &
albert &
rescuetime &
shutter --min_at_startup &

/usr/bin/feh --randomize --bg-scale $HOME/Pictures/bing-wallpapers.all
wmname LG3D

#exec awesome
#exec i3
