!Set background color and transparent property
URxvt.background: rgba:0010/0010/0010/cccc
URxvt.foreground: #CBCB7A
 
!Black
URxvt.color0: #000000
URxvt.color8: #555753
!Red
URxvt.color1: #CC0000
URxvt.color9: #EF2929
!Green
URxvt.color2: #4E9A06
URxvt.color10: #8AE234
!Yellow
URxvt.color3: #C4A000
URxvt.color11: #FCE94F
!Blue
URxvt.color4: #3465A4
URxvt.color12: #729FCF
!Magenta
URxvt.color5: #75507B
URxvt.color13: #AD7FA8
!Cyan
URxvt.color6: #06989A
URxvt.color14: #34E2E2
!White
URxvt.color7: #D3D7CF
URxvt.color15: #EEEEEC

!Replace these font settings by your favorate
URxvt*font: xft:Monospace:size=12:antialias=true
 
URxvt.scrollbar: False
! Use shift+pageup/down to scroll in screen
URxvt.secondaryScroll: true
 
!!Enable the tab and link
URxvt.perl-ext-common: default,matcher
!!Set the default browser
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1 

URxvt.depth: 32

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
